@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

.form-container {
  margin: 4rem 10rem;
}

.form-container h1 {
  margin-bottom: 3rem;
  color: #ffffff;
  font-size: 4rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form-container input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 1rem 0;
}
::placeholder {
  color: #ffffff;
}
.form-container input:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 1.2rem;
}
.success {
  color: #7ecd71;
  font-size: 1.2rem;
}

form button {
  align-self: flex-start;
  height: 3.4rem;
  width: 14rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}
